body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
  background: #fff;
  margin: 0;
  padding: 100px;
}

table{
	background:#eee;
	border:1px solid #aaa;
	border-spacing:0;
	display:table;
	width:100%;
	word-wrap:break-word;
	text-align:left;
}

thead{
	background:#bbb;
	
	font-weight:bold;
	position:sticky;
	top:0;
	z-index:10;
}

td{
	border:1px solid #bbb;
	
}

th{
	
}
.highcell{vertical-align:top;}

floattext{
	position:sticky;
	vertical-align:top;
	top:20
}

/* stuckrow{ */
	/* display: table-row; */
	/* position: sticky */
/* } */